button{
	padding: 0.3rem;

	font-family: "Philosopher", sans-serif;
	font-weight: bold;
	font-size: 0.9rem;
	color: #FFF;

	background-color: #369;
	border: 1.2px outset #FFF;;

	cursor: pointer;
	outline: none;
}
button:hover{
	color: initial;
	background-color: #ECECEC;
}
button:active{
	top: 1.5px;
}
input{
	width: 65%;
	height: 1.1rem;
	display: inline-block;
	vertical-align: middle;

	text-indent: 0.4rem;
	font-style: italic;
	font-family: "Arial Narrow", sans-serif;

	outline: none;
	border: none;
	border-radius: 0.8rem;
	box-shadow: inset 1px 1px 2px 1px #999;
}	