header{
	width: 100%;
	height: 3rem;
	margin: 0;
	padding: 0;
	background-color: #DDD;
}
header>h2{
	margin: 0;
	line-height: 3rem;
	vertical-align: middle;
	font-family: 'Philosopher', sans-serif;
	font-weight: bold;

	color: #222;
	text-align: center;
	text-decoration: underline;
	text-shadow: 2px 1px 2px #777;
}
nav{
	width: 100%;
	height: 2rem;
	margin: 0;
	background-color: #369;
	box-sizing: border-box;
	box-shadow: 0px 1.5px 3px #777;
}
nav>ul{
	width: 100%;
	margin: 0;
	padding:0;
}
nav>ul>li{
	width: 25%;
	line-height: 2rem;
	text-align: center;
	vertical-align: middle;
	font-size: 1.2rem;
	color: #FFF;
	font-family: "Philosopher", sans-serif;
	font-weight: bold;
	list-style: none;
	float: left; 
}
nav>ul>li>a{
	display: inline-block;
	width: 100%;
	text-decoration: none;
	color: inherit;

	box-sizing: border-box;
	border-left: 1px solid #ECECEC;

	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}
nav>ul>li>a:hover{
	text-decoration: underline;
	color: #ECECEC;
	background-color: #147;
	transition: background-color 0.6s;
	cursor: pointer;
}
a:active{
	background-color: #147;
}
