.container{
	width: 80vw;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 1000;
	top: 5vh;
	left: 10vw;
	display: none;
}
.container_header{
	width: 100%;
	height: 4.5rem;
	color: #FFF;
	background-color: #369;
	font-family: "Philosopher", sans-serif;
	text-align: center;
}
.container_footer{
	width: 100%;
	height: 3rem;
	color: #FFF;
	background-color: #369;
	font-family: "Philosopher", sans-serif;
	line-height: 3rem;
	text-align: center;
	vertical-align: middle;
}
.container_footer>h3, .container_header>h2{
	margin: 0;
}
.money_background{
	background-image: url(../img/coin_background1.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;	
}
#print_me>table{
	opacity: 0.8;
}