header{
	width: 100%;
	height: 8rem;
	margin: 0;
	padding: 0;
	background-color: #DDD;
	background-image: url(../img/coins4.jpg);
	position: relative;
}
header>h1{
	margin: 1rem;
	margin-left: 8rem;
	text-indent: -3rem;
	display: inline-block;
	width: 15rem;

	font-family: 'Philosopher', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;

	color: #222;
	text-decoration: underline;
	text-shadow: 2px 1px 2px #777;
	
	float: left;
}
.reg{
	width: 12rem;
	height: 100%;
	margin-right: 1rem;
	float: right;
}
.anchor{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 50%;
	text-align: right;
}
.anchor>.fas, .anchor>.far{
	display: inline-block;
	height: 2.4rem;
	width: 2.4rem;
	margin: 0.8rem;
	text-align: center;
	vertical-align: middle;
	font-size: 1.4rem;
	line-height: 2.4rem;

	color: #FFF;
	background-color: #369;
	border-radius: 10px;
	
	position: relative;
	cursor: pointer;
}
.tooltip{
	display: inline-block;
	height: 2.4rem;
	width: 2.4rem;
	margin: 0.8rem;

	font-family: "Philosopher", sans-serif;
	text-align: left;
	text-indent: 0.5rem;
	vertical-align: middle;
	font-size: 1rem;
	line-height: 2.4rem;
	overflow: hidden;
	text-overflow: ellipsis;

	color: #FFF;
	background-color: #369;
	border-radius: 10px;
	cursor: pointer;

	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;

	transition: width 0.3s;
}
.anchor:hover>.fas, .anchor:hover>.far{
	color: #ECECEC;
	background-color: #147;
}
.anchor:hover>.tooltip{
	width: 9rem;
}
.flicker{
	width: 100%;
	height: 2px;
	margin: 0;
	position: relative;

	background: linear-gradient(270deg, #147, #ECECEC);
	background-size: 400% 100%;

	-webkit-animation: Flicker 6s ease infinite;
	-moz-animation: Flicker 6s ease infinite;
	animation: Flicker 6s ease infinite;
}
@-webkit-keyframes Flicker {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Flicker {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Flicker { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
nav{
	width: 100%;
	height: 3rem;
	margin: 0;
	
	position: sticky;
	top: 0;
	z-index: 1;

	color: #FFF;
	background-color: #369;
	box-shadow: 0px 4px 8px #777;
}
nav>ul{
	width: 100%;
	margin: 0;
	padding:0;
}
nav>ul>li{
	width: 16.66%;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	vertical-align: middle;
	font-size: 1.1rem;
	font-family: "Philosopher", sans-serif;
	font-weight: bold;
	list-style: none;
	float: left; 
}
nav>ul>li>a{
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;

	box-sizing: border-box;
	border-left: 0.5px solid #ECECEC;

	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;

	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	overflow: hidden;
}
nav>ul>li>a:hover{
	text-decoration: underline;
	color: #ECECEC;
	cursor: pointer;
}
nav>ul>li>a:after {
	content: '';
	position: absolute;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #147;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
nav>ul>li>a:hover:after {
	height: 75%;
	opacity: 1;
	z-index: -1;
}
nav>ul>li>a:active:after {
	height: 130%;
	opacity: 1;
}
.hide_me{
	display: none;
}
.show_me{
	display: block;
}
#placeholder{
	width: 8%;
}
footer{
	width: 100%;
	color: #FFF;
	background-color: #369;
	font-family: "Philosopher", sans-serif;
	text-align: center;
	padding-top: 0.5rem;
}