.background{
	background-color:  #AAA;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;

	opacity: 0.8;
	display: none;
}
.register{
	width: 28rem;
	padding: 1rem;
	
	position: absolute;
	top: 210px;
	left: 35%;
	z-index: 10;

	color: #FFF;
	font-size: 1rem;
	font-weight: bold;

	background-color: #369;
	box-shadow: 15px 15px 8px #666;

	display: none;
}
.register>label{
	font-family: "Arial Narrow", sans-serif;
	display: inline-block;
	width: 10rem;
	margin: 1rem 1rem 0rem 2rem;
}
.register>textarea, .inputs{
	display: inline-block;
	vertical-align: top;
	width: 12rem;
	margin: 1rem 1rem 0rem 1rem;
	resize: none;
}
.inputs{
	height: 1.2rem;
	border: none;
	border-radius: 0.8rem;
	text-indent: 1rem;
	box-shadow: inset 1px 1px 2px 1px #999;
}
.checkbox{
	width: 3rem;
	text-align: right;
}
.register>textarea, .register>select{
	height: 1.33rem;
	border: none;
	border-radius: 0.8rem;
	box-shadow: inset 1px 1px 2px 1px #999;
}
select>option{
	color: #555;
}
a{
	color: #fff;
	text-decoration: none;
}
button{
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	vertical-align: middle;
	margin: 0.5rem;
	margin-left: 14rem;
	margin-bottom: 2rem;

	font-family: "Philosopher", sans-serif;
	font-weight: bold;
	font-size: 14.5px;
	color: #FFF;
	background-color: #369;
	border: 1px solid rgba(255,255,255,0.5);
	box-sizing: border-box;

	cursor: pointer;
	position:relative;
	outline: none;

	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	overflow: hidden;
}
button:after {
	content: '';
	position: absolute;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: rgb(255,255,255,0.25);
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
button:hover:after {
	height: 75%;
	opacity: 1;
}
button:active:after {
	height: 130%;
	opacity: 1;
}
.register>textarea:focus, .register>input:focus{
	border: none;
	outline: none;
}
.register>select:focus{
	border-radius: 0.5rem 0.5rem 0rem 0rem;
	outline: none;
}
.register>h2, .users>h2{
	font-family: "Philosopher", sans-serif;
	text-align: center;
}
.unchecked{
	background-color: #FCB;
}
.close{
	text-align: right;
	margin: 0.2rem;
	padding: 0.2rem;
}
.users{
	width: 50rem;
	height: 80vh;
	position: absolute;
	top: 10vh;
	left: 25%;
	z-index: 10;

	color: #FFF;
	font-size: 1rem;
	font-weight: bold;

	background-color: #369;
	box-shadow: 15px 15px 8px #666;

	display: none;
}
#table_wrapper{
	position: relative;
	width: 100%;
	height: 80%;
	overflow-y: auto;  
	overflow-x: hidden;
	background-image: url(../img/TMOZ.jpg);
	background-size: 100%;
}
.users table{
	width: 100%;
	border-collapse: collapse;
	font-family: "Arial Narrow", sans-serif;	
	z-index: 15;
	overflow: scroll;
}
.users th, .users td{
	width: 16.66%;
	padding: 0.25rem;
	text-align: center;
}
.view {
	cursor: pointer;
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
}
.view::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.25);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.view:hover::before{
	opacity: 0 ;
	-webkit-transform: scale(0.5,0.5);
	transform: scale(0.5,0.5);
  pointer-events: none;
}
.view::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	box-sizing: border-box;
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}
.view:hover::after{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
  pointer-events: none;
}
#close, #print{
	display: inline-block;
	height: 25px;
	width: 25px;
	line-height: 25px;
	margin: 2px;
	font-family: "Philosopher", sans-serif;
	text-align: center;
	vertical-align: middle;	
	cursor: pointer;
}
#print{
	font-size: 23px;
	margin-right: 1rem;
}
#close:hover, #print:hover{
	box-shadow: inset 1px 1px 1px #FFF;
}
#error{
	color: #FFF;
	margin-left: 2rem;
	margin-bottom: 2rem;
	font-family: "Arial Narrow", sans-serif;
}